body{
    font-family: 'Bungee Spice', sans-serif;
    font-size: 2rem;
}
img{
    width: 300px;
}
.my-container{
    margin: auto;
    width: 50%;
}
#grid{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    margin-top: 40px;
    align-content: flex-start;
}
#grid .cells{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid blue;
    cursor: pointer;
}
.clicca{
    background-color: brown;
    
}
/* guarda minuto 1:28 */